<div class="header">{{component}}</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b> Global </b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/global/scss" (click)="changePage('global/scss')">
            SCSS
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Icons</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/icons/msda-icon"
              (click)="changePage('icons/msda-icon')"> msda-icon
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/icons/msda-plate-icon"
              (click)="changePage('icons/msda-plate-icon')"> msda-plate-icon
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/icons/msda-icon-label"
              (click)="changePage('icons/msda-icon-label')"> msda-icon-label
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Form Controls</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/form-controls/msda-form-field"
              (click)="changePage('form-controls/msda-form-field')">msda-form-field
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/form-controls/msda-select"
              (click)="changePage('form-controls/msda-select')">msda-select
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/form-controls/msda-checkbox"
              (click)="changePage('form-controls/msda-checkbox')">msda-checkbox
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/form-controls/msda-textfield"
              (click)="changePage('form-controls/msda-textfield')">msda-textfield
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b> Navigation </b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/navigation/msda-banner-button"
              (click)="changePage('navigation/msda-banner-button')"> msda-banner-button
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/navigation/msda-card-buttons-container"
              (click)="changePage('navigation/msda-card-buttons-container')"> msda-card-buttons-container
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b> Dialog </b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/dialog/msda-dialog"
              (click)="changePage('dialog/msda-dialog')"> msda-dialog
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Data table</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/data-table/msda-paginator"
              (click)="changePage('data-table/msda-paginator')">paginator
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b> Buttons & Indicators </b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/buttons/msda-menu-button"
              (click)="changePage('buttons/msda-menu-button')">
            msda-menu-button
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/buttons/msda-button"
              (click)="changePage('buttons/msda-button')">msda-button
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/buttons/msda-button-round"
              (click)="changePage('buttons/msda-button-round')">msda-button-round
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/buttons/msda-switch-button"
              (click)="changePage('buttons/msda-switch-button')">msda-switch-button
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/buttons/msda-chips"
              (click)="changePage('buttons/msda-chips')">msda-chips
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Popups & Modals</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <!--          <li routerLinkActive="activeLink" routerLink="/component/popups-and-modals/msda-toast"-->
          <!--              (click)="changePage('toast/msda-toast')">msda-toast-->
          <!--          </li>-->
          <li routerLinkActive="activeLink" routerLink="/component/popups-and-modals/msda-snackbar"
              (click)="changePage('toast/msda-toast')">msda-snackbar
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b> Cards </b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/cards/msda-module-card"
              (click)="changePage('cards/msda-module-card')"> msda-module-button
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b> Layout </b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li routerLinkActive="activeLink" routerLink="/component/layout/msda-horizontal-divider"
              (click)="changePage('layout/msda-horizontal-divider')">msda-horizontal-divider
          </li>
          <li routerLinkActive="activeLink" routerLink="/component/layout/stepper"
              (click)="changePage('layout/stepper')">stepper
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
