<div style="height: 100%; padding: 24px;">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="example">
        <msda-plate-icon
            name="parking"
            type="square"
            width="48"
            height="48"
            color="#FFFFFF"
            background="#EA854D">
        </msda-plate-icon>

        <msda-plate-icon
            name="people"
            type="circle"
            width="48"
            height="48"
            color="#FFFFFF"
            background="#EA854D">
        </msda-plate-icon>

        <msda-plate-icon
            name="horn"
            type="square"
            width="48"
            height="48"
            color="#FFFFFF"
            background="#EA854D">
        </msda-plate-icon>

        <msda-plate-icon
            name="calendar"
            type="circle"
            width="48"
            height="48"
            color="#FFFFFF"
            background="#EA854D">
        </msda-plate-icon>
    </div>

    <markdown [src]="'/assets/examples/msda-plate-icon/example-1.md'" (load)="onLoad($event)" (error)="onError($event)" ngPreserveWhitespaces></markdown>
</div>
