<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <msda-form-field placeholder="ჩაწერეთ სახელი"
                   value="Miha"
                   hint="your name"
                   suffixIcon="smile"
                   prefixIcon="user"
                   fcName="firstName"
                   [fGroup]="formGroup"></msda-form-field>

  <msda-form-field placeholder="ჩაწერეთ სახელი"
                   hint="your last name"
                   suffixIcon="smile"
                   prefixIcon="user"
                   fcName="lastName"
                   [fGroup]="formGroup"></msda-form-field>

  <msda-button type="submit" bgColor="#f44336">
    <msda-icon name="send" width="20" height="20" color="#FFFFFF"></msda-icon>
    <span>Submit</span>
  </msda-button>

</form>



<!--<mat-form-field appearance="outline">-->
<!--  <mat-label>test</mat-label>-->
<!--  <input matInput placeholder="Favorite food" value="Sushi" disabled>-->
<!--</mat-form-field>-->
